doctype html
html(lang="ja")
  head
    meta(carset="utf-8")
    title some title
    link(rel="stylesheet" href="#{config.cssOutputName}")
  body
    ul.sprites
      li
      li
      li
    script(src="#{config.jsOutputName}")